<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi UKT</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dekanuktprediksi.css') }}">
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="FIK Logo">
            </div>
            
            <ul class="menu">
                <li><a href="/logindekan"><i class='bx bx-menu'></i> Home</a></li>
                <li><a href="/dekanukt" class="active"><i class='bx bx-wallet'></i> UKT</a></li>
                <li><a href="/dekanstatmhs"><i class='bx bx-user'></i> Status Mahasiswa</a></li>
                <li><a href="/dekannilai"><i class='bx bx-pencil'></i> Nilai Mahasiswa</a></li>
                <li><a href="/dekankrs"><i class='bx bx-file'></i> Pengisian KRS</a></li>
                <!-- <li><a href="/help"><i class='bx bx-help-circle'></i> Help</a></li> -->
            </ul>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <header>
                <h1>Menu Prediksi</h1>
                <i class='bx bx-user-circle profile-icon'></i>
            </header>

        <div class="kembali">
            <p>
                <i class='bx bx-arrow-back'></i>
                <a href="/dekanukt">Kembali</a>
            </p>
        </div>

        <div class="dashboardprediksi1">
            <div class="diagramprediksi1">
                <div class="diagramprediksi1-card">
                    <h2>Prediksi Tunggakan Mahasiswa Aktif dan Non Aktif per Periode</h2>
                    <div class="chart-wrapper1">
                        <canvas id="uktLineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="dashboardprediksi2">
            <div class="diagramprediksi2">
                <div class="diagramprediksi2-card">
                    <h2>Banyak Mahasiswa yang Memperoleh KIPK</h2>
                    <div class="chart-wrapper2">
                        <canvas id="uktKIPKLineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/dekanuktprediksi.js') }}"></script>

    </body>

    <style>
        a {
            text-decoration: none; /* Menghilangkan underline */
            color: black;
        }
    </style>