@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  background-color: #F9F9F9;
  flex-direction: column; 
  /* Struktur fleksibel vertikal */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-top: 100px;
    position: relative;
}

header h1 {
    font-size: 24px;
    font-weight: 600;
}

header .profile-icon {
    font-size: 32px;
    color: #000;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #FFE5CF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    height: 100%; /* Pastikan sidebar memanjang sesuai tinggi halaman */
  }
  
  .sidebar .logo img {
    width: 200px;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .sidebar .menu {
    width: 100%;
    margin-top: 10px;
  }
  
  .sidebar .menu li {
    list-style: none;
    margin: 15px 0;
  }
  
  .sidebar .menu a {
    text-decoration: none;
    color: #557C56;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    transition: background 0.3s;
  }
  
  .sidebar .menu a.active, .sidebar .menu a:hover {
    background: #FF885B;
    color: #ffffff;
  }
  
  .sidebar .menu a i {
    margin-right: 10px;
    font-size: 20px;
  }

  .main-content {
    flex-grow: 1;
    margin-top: -80px; 
    padding: 20px;
    overflow-y: auto; /* Untuk scroll jika konten terlalu panjang */
  }

  .kembali{
    margin-top: 10px;
    text-decoration: underline;
    color: #7a7676;
    font-size: 12px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  .kembali i{
    font-size: 14px;
    color: black;
    font-weight: bold;
  }

  .main-content .detail-container {
    margin-top: 5px; /* Memberikan jarak antara tombol kembali dan detail */
    padding: 10px;
    background: transparent;
}

/* Styling Tabel Detail */
.detail-container {
  margin-top: 15px;
  padding: 15px;
  background: #ffffff;
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  max-width: 500px;
}

.detail-table {
  width: 100%;
  /* border-collapse: collapse; */
}

.detail-table td {
  padding: 5px;
  /* border-bottom: 1px solid #ddd; */
  font-size: 12px;
}

.detail-table td:first-child {
  font-weight: bold;
  width: 40%;
}

.dashboard5 {
  margin-top: 20px;
}

.diagram6-card{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.diagram6-card h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  text-align: center;
}

.chart-wrapper5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  max-width: 1000px; /* Membatasi ukuran maksimum */
  height: auto;    /* Menyesuaikan tinggi otomatis */
  overflow: hidden; /* Mencegah elemen meluap */
  margin: 0 auto;
}

.chart-wrapper5 canvas {
  width: 100% !important;
  height: 400px !important;
}

.dashboard6 {
  margin-top: 20px;
}

.diagram7-card{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.diagram7-card h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  text-align: center;
}

.chart-wrapper6{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  max-width: 1000px; /* Membatasi ukuran maksimum */
  height: auto;    /* Menyesuaikan tinggi otomatis */
  overflow: hidden; /* Mencegah elemen meluap */
  margin: 0 auto;
}

.chart-wrapper6 canvas {
  width: 100% !important;
  height: 400px !important;
}

.dashboard7 {
  margin-top: 20px;
}

.diagram8-card{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.diagram8-card h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 16px;
  text-align: center;
}

.chart-wrapper7{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  max-width: 1200px; /* Membatasi ukuran maksimum */
  height: auto;    /* Menyesuaikan tinggi otomatis */
  overflow: hidden; /* Mencegah elemen meluap */
  margin: 0 auto;
}

.chart-wrapper7 canvas {
  width: 100% !important;
  height: 400px !important;
}
